torch
transformers==4.57.6
peft
bitsandbytes
lightning
pytorch-metric-learning
hydra-core
omegaconf
bm25s
datasets
faiss-cpu
scikit-learn
scipy
pandas
numpy
polars
tqdm
safetensors
einops
PyYAML
mergekit
